:root {
    --myColor: #111111;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--myColor);
}
#contain{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
}
#heading{
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    display: flex;
    align-items: center;
    font-size: 35px;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
}   
#heading>p{
    margin-left: 3%;
}
p{
    margin: 0;
}
#grid-contain-x{
    height: 85%;
    width: 94%;
    margin: auto;
    display: grid;
    background-color: transparent;
    grid-column-gap: 12px;
    grid-template-columns: 46vw;
    grid-auto-columns: 21vw;
    grid-template-rows: repeat(2, 1fr);
    overflow-x: scroll;
    grid-row-gap: 12px;
}
#grid-contain-x::-webkit-scrollbar{
    display: none;
}
#grid-contain-x>div{
    grid-column: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.main-transparent-box{
    height: 17%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.main-box-text{
    margin: 2vh 1vw 0 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
.main-box-text>h2{
    display: inline;
    font-size: 24px;
}
.main-box-text>p{
    font-size: 12px;
    margin-top: 8px;
    color: rgb(227, 227, 227);
}
.sub-transparent-box{
    height: 38%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.sub-box-text{
    margin: 2vh 1vw 0 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
.sub-box-text>h2, .sub-box-text>h3{
    display: inline;
    font-size: 21px;
}
.sub-box-text>p{
    font-size: 12px;
    margin-top: 6px;
    color: rgb(227, 227, 227);
}
.box-image{
    height: 100%;
    width: 100%;
}
#grid-one{
    grid-row: 1/3;
    background-image: url('./Images/the-arcade.jpg');
}
#grid-two{
    grid-row: 1;
    background-image: url('./Images/equal-minds.jpg');
}
#grid-three{
    grid-row: 2;
    background-image: url('./Images/the-larper.jpg');
}
#grid-four{
    grid-row: 1;
    background-image: url('./Images/prepared.jpg');
}
#grid-five{
    grid-row: 2;
    background-image: url('./Images/traffic.jpg');
}
#grid-six{
    grid-row: 1;
    background-image: url('./Images/rudolph.jpg');
}
@media screen and (max-width: 1600px){
    .main-box-text>h2{
        display: inline;
        font-size: 16px;
    }
    .main-box-text>p{
        font-size: 12px;
    }
    .sub-box-text>h2, .sub-box-text>h3{
        font-size: 16px;
    }
    .sub-box-text>p{
        font-size: 12px;
        margin-top: 7px;
    }
}
@media screen and (max-width: 1400px){
    #grid-contain-x{
        grid-column-gap: 24px;
        grid-template-columns: 94vw;
        grid-auto-columns: 94vw;
        grid-template-rows: 1fr;
    }
    #grid-contain-x>div{
        background-size: 775px;
        grid-row: 1;
    }
    .transparent-box{
        height: 100%;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        line-height: 1.2;
    }
    .box-text{
        margin: 0 4vh 0 1vw;
        width: 32%;
    }
    .box-text>h2, .box-text>h3{
        font-size: 50px;
    }
    .box-text>p{
        font-size: 35px;
        margin-top: 6px;
    }
}
@media screen and (max-width: 1310px){
    #grid-contain-x>div{
        background-size: 715px;
    }
}
@media screen and (max-width: 1240px){
    #grid-contain-x>div{
        background-size: 640px;
    }
    .box-text{
        margin: 0 0 0 2vw;
        width: 38%;
    }
}
@media screen and (max-width: 1165px){
    #grid-contain-x>div{
        background-size: 680px;
    }
    .box-text{
        margin: 0;
        width: 34%;
    }
    .box-text>h2, .box-text>h3{
        font-size: 40px;
    }
    .box-text>p{
        font-size: 28px;
    }
}
@media screen and (max-width: 1130px){
    #grid-contain-x>div{
        background-size: 640px;
    }
}
@media screen and (max-width: 1060px){
    #grid-contain-x>div{
        background-size: 600px;
    }
}

@media screen and (max-width: 1000px){
    #grid-contain-x>div{
        background-size: cover;
        background-position-x: center;
    }
    .transparent-box{
        height: 18%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        line-height: 1.2;
    }
    .box-text{
        margin: 5px 1vh 0 1vw;
        width: 98%;
    }
    .box-text>h2, .box-text>h3{
        font-size: 30px;
    }
    .box-text>p{
        font-size: 25px;
        margin-top: 2px;
    }
}
@media screen and (max-width: 635px) {
    #grid-contain-x>div{
        background-size: cover;
        display: flex;
        justify-self: center;
        width: 100%;
        height: 100%;
        background-position-x: center;
    }
    .transparent-box{
        height: 18%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        line-height: 1.2;
    }
    .box-text{
        margin: 5px 1vh 0 1vw;
        width: 98%;
    }
    .box-text>h2, .box-text>h3{
        font-size: 22px;
    }
    .box-text>p{
        font-size: 16px;
        margin-top: 2px;
    }
}
@media screen and (max-width: 400px){
    .box-text>h2, .box-text>h3{
        font-size: 22px;
    }
    .box-text>p{
        font-size: 16px;
    }
}
@media screen and (max-width: 370px){
    .box-text>h2, .box-text>h3{
        font-size: 20px;
    }
    .box-text>p{
        font-size: 14px;
    }
}
@media screen and (max-width: 370px){
    .box-text>h2, .box-text>h3{
        font-size: 18px;
    }
    .box-text>p{
        font-size: 12px;
    }
}